__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
data/raw/*
data/processed/*
data/features/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep
mlruns/
mlartifacts/
artifacts/
.vscode/
.idea/
*.log
